<div class="ikea-header">
  <div class="header-top">
    <div class="logo-section">
      <img src="/images/logo.png" alt="CozyGen" class="logo-img" routerLink="/">
    </div>
    <app-search *ngIf="showSearch" class="search-wrapper" (onSearch)="handleSearch($event)"></app-search>
    <div class="header-actions">
      <button class="icon-btn" (click)="toggleSearch()">
        <i class="pi pi-search"></i>
      </button>
      <button class="icon-btn">
        <i class="pi pi-user"></i>
      </button>
      <button class="icon-btn" routerLink="/cart">
        <i class="pi pi-shopping-cart"></i>
      </button>
    </div>
  </div>
  <div class="header-nav">
    <p-menubar [model]="items" />
  </div>
</div>